---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Footer.astro";
import Avatar from "@/components/Avatar.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <main class="post mx-auto flex w-full max-w-prose flex-col gap-4">
    <header role="presentation">
      <div class="flex flex-col justify-between">
        <h1 class="text-2xl font-semibold text-white p-3">
          {post.data.title} 
        </h1>
        <Avatar post={post} />
      </div>
      <img src={post.data.image} alt={post.data.title}>
        <p class="italic">{post.data.description}<p/>
    </header>

    <Content />

    <Footer />
  </main>
</Layout>
